<script>
 var app = angular.module('App', ['ui.router','ui.bootstrap']);
</script>
<!-- navbar-dark bg-dark -->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">

  <a class="navbar-brand" id="navBar-Title">Tooth Protect</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/schedule">Schedule An Appointment</a>
      </li>

      <li class="nav-item">
          <a class="nav-link " routerLink="doctors">Doctors</a>
      </li>


    </ul>

    <ul class="navbar-nav ml-md-auto" >

        <li class="nav-item" *ngIf="userIsAuth()">
            <a class="nav-link ">{{ currentUserName  }}  </a>
        </li>


        <li class="nav-item" routerLinkActive="active" *ngIf="!userIsAuth()">
            <a class="nav-link" routerLink="login-register">Login / Register</a>
        </li>

        <li class="nav-item" *ngIf="userIsAuth()">
          <a class="nav-link" (click)="logOut()">Logout</a>
      </li>
    </ul>


  </div>
</nav>