  <h2 class="ourSpec">Our specialists</h2>

<!-- <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
  <div>
    <!-- Doctors -->

    <!-- 1st -->
    <div class="doctors">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0Z24ogS_QI_q8FYz6O4ku4IstAphrT27L2S_InV0HnKCdG7ia"  class="img-thumbnail doctorImage">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

              <h3 class="doctorTitle">Name</h3>
              <h3 class="doctorName">Popescu Ionut</h3>
              <h3 class="doctorTitle"> More about me</h3>
              <h3 class="doctorDescription">Adept medical doctor with eight solid years of practice experience.
                 Dedicated to exemplary patient outcomes and following all necessary medical procedures with the use of the latest industry equipment and technology.
                 Strong focus on listening to and addressing patient concerns and answering all questions in terms patients can easily understand.
                Willingness to work with all members of the medical team and listen to their suggestions and input to improve results and maximize patient satisfaction.</h3>
            </div>
          </div>
    </div>

     <!-- 2nd -->
     <div class="doctors">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
              <img src="http://www.mobilepediatricdentistry.com/assets/img/DrGreenleaf-sm.jpg"  class="img-thumbnail doctorImage img-responsive">
            </div>

            <div class="col-lg-8">

              <h3 class="doctorTitle">Name</h3>
              <h3 class="doctorName">David M. </h3>
              <h3 class="doctorTitle"> More about me</h3>
              <h3 class="doctorDescription">
                  Caring and strategic Pediatric Dentist with 3+ years of experience delivering exceptional patient care tailored for individual needs. Promotes a friendly,
                  inviting environment and instills the importance of healthy teeth and gums.
              </h3>
            </div>

          </div>
     </div>


  </div>
<!--
  </div>
</div> -->