   <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9  col-lg-9 " >
            <img class="homeImage img-fluid" src="https://images.unsplash.com/photo-1486049252259-45184399c5b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c7b20ab6b8d2081dc48971a3e67db67d&auto=format&fit=crop&w=1350&q=80">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3  col-lg-3 test">
        <div class="homeContainer firstContainer">
            <br>
            <i class="fas fa-calendar-check firstContainerButtons"></i>
            <h4 class="first firstText">Schedule a new patient appointment </h4>
            <br>
            <button class="btn btn-outline-light firstContainerButtons" routerLink="/schedule">Schedule now!</button>
            <br>

        </div>

        <div class="homeContainer secondContainer">
            <br>
            <i class="fas fa-phone firstContainerButtonsIcons"></i>
            <h1 class="secondText">See our doctors!</h1>
            <br>
            <button class="btn btn-outline-light firstContainerButtons" routerLink="/doctors">Doctors</button>
        </div>
        </div>
    </div>

    <div class="row " id="secondPart">
        <!-- first -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="row">
                    <div class=" col-sm-3 col-md-3 col-lg-4">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class=" col-sm-9 col-md-9 col-lg-8">
                        <h3 class="secondPartTitle">have a dental emergency?</h3>
                        <h6 class="secondPartText">Call us or just walk in today!</h6>
                        <button class="btn btn-outline-primary secondPartButton " type="button" disabled>123-456-1254</button>
                    </div>
            </div>

        </div>
        <!-- second -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <i class="fab fa-wpforms"></i>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <h3 class="secondPartTitle">get a form</h3>
                    <h6 class="secondPartText">Your time matter for us!</h6>
                    <a href="./formPdf.pdf" download
                    class="btn btn-outline-primary secondPartButton"> Get form</a>
                </div>
            </div>
        </div>
        <!-- 3th -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <i class="fas fa-calendar-alt"></i>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <h3 class="secondPartTitle">cancel or rechedule appoiment</h3>
                    <h6 class="secondPartText">Make an appointment that works for you.</h6>
                    <button class="btn btn-outline-primary secondPartButton" routerLink="/schedule"> schedule </button>
                </div>
            </div>
        </div>
    </div>